.red {
    width: 320px;
    padding: 10px;
    border: 3px solid  #05a2f6;;
    border-radius: 5px;
    font-size: 16px;
   
}

.red:hover{
border: #08c382;
background-color:  #27ef56;
}
.d {
padding: 10px 20px;
background-color:  #f60529;
color: #fff;
font-size: 16px;
border: 2px solid #f67105;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease, transform 0.2s ease;
}

.d:hover {
background-color:  #05d6f6;;
transform: scale(1.05);
}


.cn{
border: 2px solid  #082eb5;
}