* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

/* Container Grid */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 3 equal columns */
  grid-template-rows: 1fr 1fr;    /* 2 equal rows */
  grid-template-areas:
      "box1 box2 box2"
      "box3 box4 box5";
  gap: 10px;
  width: 100%;
  height: 95%;
  max-width: 900px;

}

/* Grid Items */
.grid-item {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding: 1rem;
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
  border-radius: 8px;
  justify-content: space-between;
}

.footer-button {
  display:inline;
  justify-content:space-between;
}

.image {
  height: 60%;
  width: 100%;
}

.box1 { 
  grid-area: 1/1/2/2; 
  font-size: 1rem;
  border: 1px solid;
}
.box2 { 
  grid-area: 1/2/1/4; 
  background-image: url("https://cdn.prod.website-files.com/6707d86e7409f5ecdc8d5243/6707d86e7409f5ecdc8d52f8_asset_paged_2.webp"); 
  background-size: cover;
  font-size: 1rem;
  color: white;
}
.box3 { 
  grid-area: 2/1/3/2; 
  font-size: 1rem;
}
.box4 { 
  grid-area: 2/2/3/3; 
  font-size: 1rem;
}
.box5 { 
  grid-area: 2/3/3/4; 
  border: 1px;
  font-size: 1rem;
  border:1px solid;
}